@import "tailwindcss";
.card {
  background: #f5f7fb;
  width: 10%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  margin: 5px;
}
.card:hover{
  box-shadow: 0 5px 15px rgb(171, 146, 240);
}
.searchbar {
  border: 2px solid transparent;
  outline: none;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.5s;
  background: #f3f3f3;
  height: 40px;
  width: 300px;
}
.searchbar:hover,
.searchbar:focus{
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgba(74,157,236,20%);
}

.pcard-img-wrap{
  width: 100%;
}
.pcard-img{
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  padding: 15px;
}
.pcard-sm-img {
  width: 30%;
  border-radius: 8px;
}
.pcard-body{
  width: 60%;
  padding: 15px 50px;
}

@media (max-width: 768px){
  .pcard-body{
    width: 100%;
    padding: 15px 50px;
  }
  .pcard-name{
  font-size: 36px;
  }
}
.pcard-name{
  font-size: 22px;
}
.pcard-price{
  font-size: 22px;
}

.buynow{
  width: 100%;
}

.navbarowncss {
  background: #4a9dec;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}
.navbarlogin{
  color: var(--color-gray-700);
}
.navbarlogin:hover {
    &:hover {
        @media (hover: hover) {
            color: var(--color-blue-600) /* oklch(54.6% 0.245 262.881) = #155dfc */;
        }
    }
}
